In [22]:
import pandas as pd

# Data Manipulation, Summary Stats and Aggregations

<p><em><ul>
  <li>mean() - Arthematic mean of a column</li>
  <li>median() - Sort and find the center postion</li>
  <li>mode() - The value that appears most often</li>
  <li>var() - How data points differ from the mean</li>
  <li>std() - Sqr root of mean</li>
  <li>min() - Min value in a column</li>
  <li>max() - Max value in a column</li>
  <li>sum() - Sum of a column</li>
  <li>quantiles - Positional calc by dividing the data into Quantiles. For example 2nd Quantile is also a center position </li>
  <li>agg() - Allows you to compute custom summary statistics of your own</li>
  <li>cumsum() - Cummulative Sums, each row is summed up with the previous row sum and move on</li>
  <li>cummax()</li>
  <li>cummin()</li>
  <li>cumprod()</li>
</ul></em></p>

# Load Data

In [23]:
sales = pd.read_csv('Data/sales_subset.csv', index_col=0)
print(sales.head())
print(sales.info())
sales

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB
None

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...
10769,39,A,99,2011-12-09,895.00,False,9.644444,0.834256,7.716
10770,39,A,99,2012-02-03,350.00,False,15.938889,0.887619,7.244
10771,39,A,99,2012-06-08,450.00,False,27.288889,0.911922,6.989
10772,39,A,99,2012-07-13,0.06,False,25.644444,0.860145,6.623
10773,39,A,99,2012-10-05,915.00,False,22.250000,0.955511,6.228

# General Summary Statistics Functions

<ul>
    <li>Mean</li>
    <li>Median</li>
    <li>Mode</li>
    <li>Var</li>
    <li>Std</li>
    <li>Min</li>
    <li>Max</li>
</ul>

In [24]:
# Print the mean of weekly_sales
print("Mean = {}".format(sales.weekly_sales.mean()))
# Print the median of weekly_sales
print("Median = {}".format(sales.weekly_sales.median()))
# Print the mode of weekly_sales
print("Mode = {}".format(sales.weekly_sales.mode()))
print("Variance = {}".format(sales.weekly_sales.var()))
print("Std Deviation = {}".format(sales.weekly_sales.std()))
print("  = {}".format(sales.weekly_sales.std()))

Mean = 23843.950148505668
Median = 12049.064999999999
Mode = 0    12.0
Name: weekly_sales, dtype: float64
Variance = 913271824.0892739
Std Deviation = 30220.387556900623
  = 30220.387556900623

In [25]:
# Print the maximum of the date column
print(sales.date.max())

# Print the minimum of the date column
print(sales.date.min())

2012-10-26
2010-02-05

# agg - for calling custom functions to summarize your data

In [26]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales.temperature_c.agg(iqr))

16.583333333333336

### <ul><li>agg - for calling custom function on multiple columns

In [27]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", 'fuel_price_usd_per_l', 'unemployment']].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

### <ul><li>agg - for calling multiple custom function on multiple columns

In [28]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

# Communlative Stats

In [29]:
s = [  
  [1, 'A', 1, '2010-02-05', 24924.5, False, 5.728, 0.679, 8.106],
  [1, 'A', 1, '2010-07-02', 16333.14, False, 27.172, 0.705, 7.787],
  [1, 'A', 1, '2010-03-05', 21827.9, False, 8.056, 0.693, 8.106],
  [1, 'A', 1, '2010-04-02', 57258.43, False, 16.817, 0.718, 7.808],
  [1, 'A', 1, '2010-10-01', 20094.19, False, 22.161, 0.688, 7.838],
  [1, 'A', 1, '2010-05-07', 17413.94, False, 22.528, 0.749, 7.808],
  [1, 'A', 1, '2010-09-03', 16241.78, False, 27.339, 0.681, 7.787],
  [1, 'A', 1, '2010-11-05', 34238.88, False, 14.856, 0.71, 7.838],
  [1, 'A', 1, '2010-12-03', 22517.56, False, 9.594, 0.715, 7.838],
  [1, 'A', 1, '2010-06-04', 17558.09, False, 27.05, 0.715, 7.808],
  [1, 'A', 1, '2010-08-06', 17508.41, False, 30.644, 0.694, 7.787],
  [1, 'A', 1, '2011-01-07', 15984.24, False, 9.039, 0.786, 7.742]
]

c = ['store', 'type', 'department', 'date', 'weekly_sales', 'is_holiday', 'temperature_c', 'fuel_price_usd_per_l', 'unemployment']

sales_1_1 = pd.DataFrame(s, index=[x for x in range(0,12,1)], columns=c)

sales_1_1

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.728,0.679,8.106
1,1,A,1,2010-07-02,16333.14,False,27.172,0.705,7.787
2,1,A,1,2010-03-05,21827.90,False,8.056,0.693,8.106
3,1,A,1,2010-04-02,57258.43,False,16.817,0.718,7.808
4,1,A,1,2010-10-01,20094.19,False,22.161,0.688,7.838
5,1,A,1,2010-05-07,17413.94,False,22.528,0.749,7.808
6,1,A,1,2010-09-03,16241.78,False,27.339,0.681,7.787
7,1,A,1,2010-11-05,34238.88,False,14.856,0.710,7.838
8,1,A,1,2010-12-03,22517.56,False,9.594,0.715,7.838
9,1,A,1,2010-06-04,17558.09,False,27.050,0.715,7.808
10,1,A,1,2010-08-06,17508.41,False,30.644,0.694,7.787
11,1,A,1,2011-01-07,15984.24,False,9.039,0.786,7.742

In [30]:
# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date')

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1.weekly_sales.cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] = sales_1_1.weekly_sales.cummax() 

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

          date  weekly_sales  cum_weekly_sales  cum_max_sales
0   2010-02-05      24924.50          24924.50       24924.50
2   2010-03-05      21827.90          46752.40       24924.50
3   2010-04-02      57258.43         104010.83       57258.43
5   2010-05-07      17413.94         121424.77       57258.43
9   2010-06-04      17558.09         138982.86       57258.43
1   2010-07-02      16333.14         155316.00       57258.43
10  2010-08-06      17508.41         172824.41       57258.43
6   2010-09-03      16241.78         189066.19       57258.43
4   2010-10-01      20094.19         209160.38       57258.43
7   2010-11-05      34238.88         243399.26       57258.43
8   2010-12-03      22517.56         265916.82       57258.43
11  2011-01-07      15984.24         281901.06       57258.43

# Dropping duplicates

<ul>
    <li> drop_duplicates(subset=[List of columns])</li>
</ul>

In [36]:
#Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=['store', 'type'])

print(store_types.head())

      store type  department        date  weekly_sales  is_holiday  \
0         1    A           1  2010-02-05      24924.50       False
901       2    A           1  2010-02-05      35034.06       False
1798      4    A           1  2010-02-05      38724.42       False
2699      6    A           1  2010-02-05      25619.00       False
3593     10    B           1  2010-02-05      40212.84       False

      temperature_c  fuel_price_usd_per_l  unemployment
0          5.727778              0.679451         8.106
901        4.550000              0.679451         8.324
1798       6.533333              0.686319         8.623
2699       4.683333              0.679451         7.259
3593      12.411111              0.782478         9.765

In [37]:
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=['store', 'department'])
print(store_depts.head())

    store type  department        date  weekly_sales  is_holiday  \
0       1    A           1  2010-02-05      24924.50       False
12      1    A           2  2010-02-05      50605.27       False
24      1    A           3  2010-02-05      13740.12       False
36      1    A           4  2010-02-05      39954.04       False
48      1    A           5  2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106

In [38]:
# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday']].drop_duplicates(subset='date')

# Print date col of holiday_dates
print(holiday_dates['date'])

498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object

# Counting categorical variables

<ul>
    <li> value_counts(sort=True/False)</li>
</ul>

In [46]:
print(store_types.shape, store_types, sep="\n")
store_counts = store_types.type.value_counts()
print(store_counts)

(12, 9)
      store type  department        date  weekly_sales  is_holiday  \
0         1    A           1  2010-02-05      24924.50       False
901       2    A           1  2010-02-05      35034.06       False
1798      4    A           1  2010-02-05      38724.42       False
2699      6    A           1  2010-02-05      25619.00       False
3593     10    B           1  2010-02-05      40212.84       False
4495     13    A           1  2010-02-05      46761.90       False
5408     14    A           1  2010-02-05      32842.31       False
6293     19    A           1  2010-02-05      21500.58       False
7199     20    A           1  2010-02-05      46021.21       False
8109     27    A           1  2010-02-05      32313.79       False
9009     31    A           1  2010-02-05      18187.71       False
9899     39    A           1  2010-02-05      21244.50       False

      temperature_c  fuel_price_usd_per_l  unemployment
0          5.727778              0.679451         8.106
901        4.550000              0.679451         8.324
1798       6.533333              0.686319         8.623
2699       4.683333              0.679451         7.259
3593      12.411111              0.782478         9.765
4495      -0.261111              0.704283         8.316
5408      -2.605556              0.735455         8.992
6293      -6.133333              0.780365         8.350
7199      -3.377778              0.735455         8.187
8109      -2.672222              0.780365         8.237
9009       3.916667              0.679451         8.324
9899       6.833333              0.679451         8.554
A    11
B     1
Name: type, dtype: int64

In [51]:
# Get the proportion of stores of each type
store_props = store_types.type.value_counts(normalize=True)
print(store_props)

A    0.916667
B    0.083333
Name: type, dtype: float64

In [49]:
# Count the number of each department number and sort
dept_counts_sorted = store_depts.department.value_counts(sort=True)
print(dept_counts_sorted)

1     12
55    12
72    12
71    12
67    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: department, Length: 80, dtype: int64

In [53]:
# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts.department.value_counts(sort=True, normalize=True)
print(dept_props_sorted)

1     0.012917
55    0.012917
72    0.012917
71    0.012917
67    0.012917
        ...
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: department, Length: 80, dtype: float64